{% extends "test_base.html" %}
{% block content %}
<div class="row">
    <form class="form-inline" method="POST">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Search Project">
        </div>
        <input type="submit" hidden />
    </form>
</div>
<div class="row">
            {% for project in projects %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{project.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{project.name}}</h5>
                          <p class="card-text">{{project.description|truncatechars:100}}</p>
                          <a href="{% url 'project-details' project.id %}" class="btn btn-primary">View Project</a>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
{% endblock content %}